$primary: #012677;
$secondary: #00b4fc;
$font1: 'Exo 2', 'Nunito', 'Segoe UI', 'Arial', 'Tahoma';
$font2: 'Nunito', 'Segoe UI', 'Arial', 'Tahoma';

body {
    background-color: #b5d7ff!important;
}
.navbar {
    font-family: $font1!important;
    background: $primary!important;
    .nav-link {
        color: white!important;
        &:hover {
            color: $secondary!important;
        }
    }
}

main {
    background: #b5d7ff;
    p {
        margin: 0;
    }
}

footer {
    font-family: $font1;
    background: $primary!important;
    padding: 20px;
    p {
        color: white;
        margin: 0;
    }
}

.container {
}
.card {
    .card-title {
        font-family: $font1;
        font-weight: bold;
    }
    .card-text {
        font-family: $font2;
    }
    margin: 15px;
}
