/* Paleta de cores */
$primary: #1f192f;
$secondary: #2d6073;
$tertiary: #65b8a6;
$quaternary: #b5e8c3;
$quinary: #f0f7da;

* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', 'Arial';
}

.header {
    padding: 10px;
    background-color: $secondary;
    font-size: 25px;
    img {
        width: 120px;
    }
    .header-nav {
        color: $tertiary;
        text-transform: uppercase;
        float: right;
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin: 45px 10px;
                a {
                    color: $tertiary;
                    font-family: 'Ubuntu', 'Arial';
                    text-decoration: none;
                    &:hover {
                        color: $quaternary;
                    }
                }
            }
        }
    }
}

main {
    padding: 10px;
    color: $quinary;
    background-color: $primary;
}

.footer {
    padding: 10px;
    background-color: $secondary;
    font-size: 15px;
    text-align: center;
    color: $tertiary;
    p {
        margin: 5px;
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            margin: 5px;
            a {
                text-decoration: none;
                color: $tertiary;
                font-size: 20px;
                &:hover {
                    color: $quaternary;
                }
            }
        }
    }
}

.erro {
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h1 {
        font-family: 'Ubuntu', 'Arial';
        text-transform: uppercase;
    }
    a {
        color: $primary;
        &:hover {
            color: $secondary;
        }
    }
    text-align: center;
    margin: 120px 200px;
    background-color: $quinary;
    padding: 50px;
    color: red;
}