$primary: #012677;
$secondary: #00b4fc;
$font1: 'Exo 2', 'Nunito', 'Segoe UI', 'Arial', 'Tahoma';
$font2: 'Nunito', 'Segoe UI', 'Arial', 'Tahoma';

body {
    background-color: #b5d7ff!important;
}
.navbar {
    font-family: $font1!important;
    background: $primary!important;
    .nav-link {
        color: white!important;
        &:hover {
            color: $secondary!important;
        }
    }
    span {
        .navbar-toggler-icon {
            color: white;
        }
    }
    .navbar-toggler {
        color: white;
        background-color: white;
    }
}

main {
    background: #b5d7ff;
    p {
        margin: 0;
    }
}

footer {
    font-family: $font1;
    background: $primary!important;
    padding: 20px;

    p {
        color: white;
        margin: 0;
    }
}

.container {
    h1 {
        font-family: $font1;
        color: $primary;
    }
    .imagem {
        float: left;
        img {
            width: 60%;
        }
    }
    .info {
        float: right;
    }
}

.container-box {
    width: 90%;
    margin: auto;
}

.container-cards {
    margin: 10px;
    justify-content: space-evenly;
}

.col{
    margin: auto;
}

.card {
    border: 1px solid $primary!important;
    display: flex;
    margin: auto;
    .card-title {
        font-family: $font1;
        font-weight: bold;
    }
    .card-text {
        font-family: $font2;
    }
    .btn {
        margin-top: 10px;
        font-family: $font1;
        background-color: $primary;
        border: none;
        &:hover {
            background-color: #00b4fc;
        }
    }

    margin: 15px;
}

.card-info {
    background-color: #b5d7ff;
    border: 1px solid #01267700 !important;
    border-radius: 0 !important;
    .card-title {
        color: $primary;
    }
    i {
        margin-right: 5px;
    }
}

